## macOS
.DS_Store

## Config files containing secret keys
*.xcconfig

# Ignore user-specific data
*.xcuserdata/
*.xcuserdatad/

# Track shared data
!xcshareddata/
!xcshareddata/xcschemes/
!xcshareddata/xcschemes/*.xcscheme

# Ignore derived data, build artifacts, and other development environment files
DerivedData/
build/